{
    "parser": "babel-eslint",
    "globals": { "module": false, "require": false },
    "plugins": [
      "react",
      "babel",
      "import"
    ],
    "env": { "browser": true, "es6": true },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:import/recommended",
        "airbnb"
    ],
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-plusplus": "off",
        "object-shorthand": "warn",
        "prefer-template": "warn",
        "no-underscore-dangle": ["error", { "allow": ["_bodyText"] }],
        "prefer-destructuring": "warn",
        "spaced-comment": "off",
        "arrow-body-style": "warn",
        "padded-blocks": "off",
        "import/extensions": "off",
        "import/no-named-default": "off",
        "linebreak-style": "off",
        "function-paren-newline": "off",
        "array-bracket-spacing": ["error", "always"],
        "space-before-function-paren": ["error", "always"],
        "arrow-parens": ["error", "as-needed"],
        "comma-dangle": "off",
        "object-curly-newline": "off",
        "no-confusing-arrow": "off",
        "eqeqeq": "error",
        "curly": "warn",
        "complexity": ["error", { "max": 15 }],
        "array-callback-return": "error",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-filename-extension": "off",
        "react/prefer-stateless-function": "off",
        "react/self-closing-comp": "warn",
        "react/no-array-index-key": "warn",
        "react/jsx-closing-bracket-location": "warn",
        "react/jsx-boolean-value": "off",
        "react/jsx-closing-tag-location": "off",
        "react/forbid-prop-types": ["error", { "forbid": ["array", "any"] }],
        "react/sort-comp": ["error", {
          "order": [
            "static-methods",
            "instance-variables",
            "constructor",
            "lifecycle",
            "/^on.+$/",
            "getters",
            "setters",
            "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
            "instance-methods",
            "everything-else",
            "render",
            "/^render.+$/"
          ],
          "groups": {
            "lifecycle": [
              "displayName",
              "propTypes",
              "contextTypes",
              "childContextTypes",
              "mixins",
              "statics",
              "defaultProps",
              "getDefaultProps",
              "getInitialState",
              "state",
              "getChildContext",
              "componentWillMount",
              "componentDidMount",
              "componentWillReceiveProps",
              "shouldComponentUpdate",
              "componentWillUpdate",
              "componentDidUpdate",
              "componentWillUnmount"
            ]
          }
        }],
        "jsx-quotes": ["error", "prefer-single"],
        "jsx-a11y/click-events-have-key-events": "off",
        "class-methods-use-this": ["off", { "exceptMethods": [
          "componentWillUnmount",
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "componentWillUpdate",
          "componentDidUpdate",
          "shouldComponentUpdate"
        ]}],
        "import/prefer-default-export": "off",
        "import/order": "error",
        "import/no-namespace": "off",
        "import/no-unassigned-import": ["warn", {
          "allow": [
            "babel-*",
            "whatwg-fetch",
            "url-polyfill",
            "**/*.scss",
            "rxjs/add/**/*"
          ]
        }],
        "import/newline-after-import": ["error", { "count": 2 }],
        "no-console": ["warn", { "allow": ["warn", "error"] }],
        "valid-jsdoc": "error",
        "react/jsx-uses-vars": "error",
        "react/jsx-uses-react": "error",
        "no-unused-vars": "error",
        "no-use-before-define": "error",
        "no-shadow-restricted-names": "error",
        "no-duplicate-case": "error",
        "use-isnan": "error",
        "valid-typeof": "error",
        "no-eval": "error",
        "no-multi-spaces": "error",
        "no-script-url": "error",
        "yoda": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-delete-var": "error",
        "no-undefined": "error",
        "camelcase": "error",
        "no-func-assign": "error"
    }
}
